@import './nav.css';
@import './landingbanner.css';
@import './carousel-habitaciones.css';
@import './carousel-servicios.css';
@import './root.css';


body {
    background-color: var(--color-secondary-var);
}

/*---------- SECCION HABITACIONES -----------------*/
.landing__title {
    text-align:left;            /* centra el texto horizontalmente */
    font-family: var(--font-title);
    font-size: 2rem;
    color: white;                  /* texto blanco */
    background-color: var(--color-primary);        /* color de la barra */
    display: inline-block;         /* para que la barra tenga el tamaño del texto */
    padding: 3px 30px;            /* espacio arriba/abajo y lados */
    border-radius: 5px;            /* opcional: bordes redondeados */
    margin: 20px 0;                /* espacio arriba y abajo del título */
    width: 100%;
}

section{
    padding: 2%;
}

#inicio{
    padding: 0;
}

footer{
    padding: 2%;
    background-color: var(--color-secondary);
}
