/*
    Variables globales
*/
:root {
    /* COLORES */
    --color-on-primary: #fff;
    --color-on-secondary: #000;
    --color-primary: #113f67;
    --color-secondary: #34699A;
    --color-secondary-var: #58A0C8;
    --color-of-sand: #fdf5AA;
    --color-bg: #fafafa;
    --color-error: #d32f2f;

    /* FUENTES */
    --font-title: 'EB Garamond', serif;
    /* Se agrega 'serif' como fallback */
    --font-text: 'Rubik', sans-serif;
    /* Se agrega 'sans-serif' como fallback */

    /* TAMAÑOS */
    --small: 15px;
    --mid: 20px;
    --logo-text: 25px;
    --title: 30px;
}
